.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-number {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #fff;
    color: #9251C3;
    font-size: 16px;
    cursor: pointer;
  }
  
  .active {
    background-color: #9251C3;
    color: #fff;
  }
  